In [1]:
import numpy as np
import pandas as pd

In [2]:
df= { 'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [3]:
df= pd.DataFrame(df)

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [5]:
df.dropna() #drops null values from your dataframe for column use axis =1

     A    B  C
0  1.0  5.0  1

In [6]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [7]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [11]:
df.dropna(thresh=1)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [13]:
df.fillna(value='Fill value') #fills value

            A           B  C
0         1.0         5.0  1
1         2.0  Fill value  2
2  Fill value  Fill value  3

In [14]:
df['A'].fillna(value=df['A'].mean()) #fills mean value

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64